/*@import 'https://fonts.googleapis.com/css?family=Catamaran:700';*/
@font-face {
    font-family: BEBAS;
    src: url(BEBAS___.ttf);
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: sans-serif;
    width: 100%;
    height:100%;
    position: relative;
    background-color: white;/*#D6F2F6*/
    color: black;
}

button {
    cursor: pointer;
}

header {
    background-color: black;
    color: white;
    padding: 1% 2%;
    
    display:flex;
    justify-content:space-between;
    align-items: baseline;
}

header h1 {
    margin: 0;
    font-family: 'BEBAS', sans-serif;
    /*font-size: 1.7em;*/
    font-size: 30px;
}

.headerAbbr {
    display: none;    
}

.headerNotAbbr {
    display: inline;
}

@media only screen and (max-width: 700px) {
    .headerAbbr {
        display: inline;    
    }

    .headerNotAbbr {
        display: none;
    }
}

nav ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    display: inline;
    font-size: 16px;
}

@media only screen and (max-width: 350px) {
    nav li {
        font-size: 12px;    
    }
}

.linkHomeClass {
    text-decoration: none;
    color: #AFC23C;/*#D3F9EA;*/
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

