@font-face {
    font-family: KOMIKAX;
    src: url(BadaboomBB_Reg.ttf);
}

.topLevelChildrenWrapper {
    position: relative;
    width: 90%;
    margin: 0 5%;
    top: 10px;
    background-color: white;
    padding-bottom: 30px;
    color: black;
}

@media only screen and (max-width: 350px) {
    .topLevelChildrenWrapper {
        width: 98%;
        margin: 0 1%;
    }
}

.wantlistWrapper {
    background-color: white;
    color: black;
}

.wantlistWrapper h2 {
    background-color: #AFC23C;/*#035D82;*/
    color: black;
    text-align: center;
    padding: 5px 0;
    margin: 0;
    font-family: 'KOMIKAX';
    font-weight: lighter;
}

.wantlistWrapper ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.figureLi {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    border: thin solid grey;
    border-top: none;
}

.figureLi button {
    border: none;
    background-color: crimson;
    color:white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 3px;
}